#sidebar-wrapper {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  right: 30%;
  margin-right: 30%;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

#maincontent-wrapper{
    /* position: relative; */
    margin-left: 12%;
}